.poll-container {
	border: 2px solid #17191b;
	padding: 12px;
	margin: 12px 0;
	display: flex;
	flex-direction: row;
}

#profile-name {
	color: rgb(44, 160, 44);
}

.btn-add-vote {
	margin: 4px;
}

.btn-delete-poll {
	margin: 4px 0;
}

.pie-chart {
	margin-left: auto;
}

.footer {
	margin-top: 12px;
	padding: 10px;
	border-top: 1px solid #17191b;
}
